<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<body>
	<div layout:fragment="content">
		<table class="table" ng-controller="CityCtrl">
			<thead>
				<tr>
					<th th:text="#{city.name}"></th>
					<th th:text="#{city.population}"></th>
					<th th:text="#{city.country}"></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="city in cities">
					<td>{{city.name}}</td>
					<td>{{city.population}}</td>
					<td>{{city.country}}</td>
				</tr>
			</tbody>
		</table>
		<script type="text/javascript" src="/js/city.js"></script>
	</div>
</body>
</html>